# Backups
#------------------------
*~
.*~


# OS
#------------------------
.DS_Store


# Dirs
#------------------------
learn/libs/
node_modules/
three.js/
Learn-Three.js-Third-Edition/


# Logs
#------------------------
*.log
